{% extends '@BloggerBlog/base.html.twig' %}
{% block content_sidebar %}
    <div class="sidebar">
        {{ render(controller(
        'BloggerBlogBundle:Page:sidebar'
        )) }}
    </div>
{% endblock %}