{% extends 'BloggerBlogBundle::layout.html.twig' %}

{% block title %} Add Comment {% endblock %}

{% block body %}
    <h1>Add commet for blog post "{{ comment.blog.title }}"</h1>
    {% include 'BloggerBlogBundle:Comment:form.html.twig' width {'form':form}%}
{% endblock %}